@model List<ProyectoU2.Models.ViewModel.ListaPaciente>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />



<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align: right; padding: 10px;">
            <a href="~/Cliente/Nuevo" class="btn btn-primary">Agregar</a>
        </div>
    </div>
</div>

<div class="container text-center mt-3">
    <h2 class="text-white rounded p-2" style="background-color: #1e2b38;"> Bienvenido <?php echo "$nombre $param_apellido_medico" ?></h2>
</div>

<!-- SECCION MÉDICO PRINCIPAL-->
<div class="container mb-3">
    <div class="w-100">
        <div class="w-100">
            <?php
            if ($param_foto_medico != null) {
            echo "<img class='d-block mx-auto my-3 rounded-circle' src='data:image/jpeg; base64," . base64_encode($param_foto_medico) . "' style='width:250px; height:250px'>";
            } else {
            echo "<div class='bg-white p-2 my-3 text-center'>
                <h2>No hay foto</h2>
                <p>Subir imagen. Máximo 100KB.</p>
                <form enctype='multipart/form-data' action='upload.php' method='post'>
                    <label>Upload the image file:</label><br />
                    <input name='userImage' type='file' />
                    <input type='submit' value='Upload' />
                </form>
            </div>";
            }
            ?>
        </div>
    </div>
    <div class="d-flex w-100 justify-content-center bg-white rounded p-2">
        <div class="text-center w-100" style="background-color: #1e2b38;">
            <h5 class="text-white mt-2">
                <i class="fa fa-user"></i>
                <?php echo "$param_nombre_medico $param_apellido_medico" ?>
            </h5>
        </div>
        <div class="text-center w-100" style="background-color: #1e2b38;">
            <h5 class="text-white mt-2">
                <i class="fa fa-briefcase-medical"></i>
                <?php echo $param_nombre_especialidad ?>
            </h5>
        </div>
        <div class="text-center w-100" style="background-color: #1e2b38;">
            <h5 class="text-white mt-2">
                <i class="fa fa-id-badge"></i>
                <?php echo $param_cedula_medico ?>
            </h5>
        </div>
        <div class="text-center w-100" style="background-color: #1e2b38;">
            <h5 class="text-white mt-2">
                <i class="fa fa-envelope"></i>
                <?php echo $param_correo_medico ?>
            </h5>
        </div>
    </div>
</div>


<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Pacientes
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var oElemento in Model)
                {
                    <tr>
                        <td>@oElemento.nombre_pte</td>
                        <td>@oElemento.apellido_paterno_pte</td>
                        <td>@oElemento.cedula_pte</td>
                        <td>@oElemento.correo_pte</td>
                        <td>@oElemento.edad_pte</td>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("Editar", "Cliente", new {id = @oElemento.idPaciente})">Editar</a>
                            <a class="btn btn-danger" href="@Url.Action("Eliminar", "Cliente", new {id = @oElemento.idPaciente})" onclick="alerta()">Eliminar</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Medicos
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Citas
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/bootstrap.bundle.min.js"></script>