@model List<ProyectoU2.Models.ViewModel.ListaMedico>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function alerta() {
        var res = confirm("¿Está seguro de quere elimnar este medico? ");
        if (res == true) {
            return true;
        } else {
            return false;
        }
    }
</script>

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align: right; padding: 10px;">
            <a href="~/Cliente/Nuevo" class="btn btn-primary">Agregar</a>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Medico
            </button>
        </h2>
       
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="row" style="text-align: right; padding: 10px;">
                <a href="~/Medico/Nuevo" class="btn btn-primary">Agregar</a>
            </div>
            <table class="table">
                <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                    <th>Edad</th>
                    <th>Acciones</th>
                </tr>
                @foreach (var oElemento in Model)
                {
                    <tr>
                        <td><img width="100" src="@Url.Action("getImage", "Medico", new { cedula_me = @oElemento.cedula_me})" /></td>
                        <td>@oElemento.nombre_me</td>
                        <td>@oElemento.apellido_paterno_me</td>
                        <td>@oElemento.cedula_me</td>
                        <td>@oElemento.correo_me</td>
                        <td>@oElemento.edad_me</td>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("Editar", "Medico", new {cedula_me = @oElemento.cedula_me})">Editar</a>
                            <a class="btn btn-default" href="@Url.Action("Citas","Medico", new {cedula_me = @oElemento.cedula_me})">Citas</a>
                            <a class="btn btn-danger" href="@Url.Action("Eliminar", "Medico", new {cedula_me = @oElemento.cedula_me})" onclick="return alerta()">Eliminar</a>

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Citas
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
        </div>

    </div>
</div>


<script src="~/Scripts/bootstrap.bundle.min.js"></script>

